{% extends "admin/change_list.html" %}
{% load staticfiles %}
{% block extrahead %}

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script>
        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };
        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'left'
            },
            title: {
                display: true
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };
        window.onload = function () {
            var ctx = document.getElementById("category-chart",);
            {% regroup cl.queryset|dictsort:"category" by get_category_display as category_list %}
            var lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for category in category_list %}'{{ category.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for category in category_list %}'{{ category.list|length }}',{% endfor %}],
                        backgroundColor: [{% for category in category_list %}randomColorGenerator(),{% endfor %}]
                    }]
                },
                options: options
            });




            //===============ORIGINAL-END HERE CATEGORY (PROJECT_INFO)===================================================
            ctx = document.getElementById("status-chart");
            {% regroup cl.queryset|dictsort:"Type" by Type as Type_list %}
            lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for Type in Type_list %}'{{ Type.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for Type in Type_list %}'{{ Type.list|length }}',{% endfor %}],
                        backgroundColor: [{% for Type in Type_list %}randomColorGenerator(),{% endfor %}]
                    }]
                }, options: options
            })

            
            //============= ORIGINAL PROJECT TYPE END HERE (PROJECT INFO)===============================================

            ctx = document.getElementById("project_Type-chart");
            {% regroup cl.queryset|dictsort:"status" by get_status_display as status_list %}
            lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for status in status_list %}'{{ status.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for status in status_list %}'{{ status.list|length }}',{% endfor %}],
                        backgroundColor: [{% for status` in status_list %}randomColorGenerator(),{% endfor %}]
                    }]
                }, options: options
            });
        
       }


       // ORIGINAL GRAPH ENDED HERE = CODE BELOW IS ADDITIONAL GRAPGHS FOR COMPLIANCE, MANIFEST, AND SUSTAINABLITY=====


    </script>
{% endblock %}
{% block content %}
    <h1> Graphs </h1>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <canvas id="category-chart" style="width: 100px !important;"></canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="project_Type-chart" style="width: 100px !important;"></canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="status-chart" style="width: 100px !important;"></canvas>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About