{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

<!--The 3 meta tags first-->
   <meta name="description" content="">
   <meta name="author" content="">
   <meta name="Project" content="">

   <title>Management Project</title>

   <!--Bootstrap Core CSS-->
   <link href="{% static 'management/bootstrap.min.css'%}" rel="stylesheet">

   <!--Custom styles for the template-->

   <link href="w3.css" rel="stylesheet">
</head>


   <body class="container">

   	<from class ="form-signin">
   		<h2 class="from-signin-heading">Management Project</h2>
   		<div class="form-group">
   			<label for=" comment" class="sr-only">Comment:</label>
   			<textarea class="form-control" rows="8" id="comment"placeholder="Comment" required></textarea>
            <label for="name" class='sr-only">Name:</label>
            textfield class="form-control" rows="8" id="comment"placeholder="Comment" required></textfield>

   		</div>
   		  <button class="btn btn-lg btn-primary btn-block"type="submit">Submit</button></form>


</div>

</body>
</html>


